<div class="ListaDeReceitasContainer">
    <div class="ListaDeReceitasHeader">
        <h1>Receitinhas da vovó! 🥰</h1>
        <button routerLink="/cadastro">Cadastrar receitas</button>
        <button (click)="goBack()">Voltar</button>
    </div>
<div class="ListaDeReceitas" *ngIf="receita">
 
    <h1>{{receita.titulo}} / #{{receita.id}}</h1>
    <img src="{{receita.img}}" alt="Lamp" width="200" height="200"/>
    <h2>{{receita.descricao}}</h2>

</div>