<div class="ListaDeReceitasContainer">
    <div class="ListaDeReceitasHeader">
        <h1>Receitinhas da vovó! 🥰</h1>
        <button routerLink="/cadastro">Cadastrar receitas</button>
    </div>
    <div class="ListaDeReceitas">
     <ul *ngFor="let receita of receitas; index as i">
        <div class="ListaDeReceitasRow">
            <h2>{{'#' + receita.id + '  ' + receita.titulo}}</h2>
            <div class="botoesDiv">
                <button routerLink="/detalhes/{{receita.id}}" class="ListaDeReceitasBotao">Detalhes</button>
                <button routerLink="/editar/{{receita.id}}" class="botaoEditar">Editar</button>
                <button (click)="onDelete(i)" class="deleteButton">Excluir</button>
            </div>
        </div>
     </ul>
    </div>
</div>