.ListaDeReceitasContainer {
  background-color: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.04),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0238443),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0161557);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 95vw;
  height: 92vh;
}
.ListaDeReceitasHeader {
  width: 93%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*border-bottom: 2px solid #cacbcc;*/
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 1%;
  align-self: center;
  justify-self: center;
}
li {
  display: flex;
  flex-direction: column;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.3rem;
  font-weight: 400;
  align-self: center;
  justify-self: center;
  margin-top: 1.5%;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1%;
  border: 2px solid #0147fa;
  box-sizing: border-box;
  border-radius: 8px;
  background: #ffffff;
  width: 170px;
  color: #0147fa;
}
button:hover {
  background: #0147fa;
  color: #ffffff;
}

.ListaDeReceitas {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 93%;
  border-top: 2px solid #cacbcc;
  margin-top: 1%;
  padding-left: 52px;
  padding-right: 52px;
}

.ListaDeReceitasRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ListaDeReceitasBotao {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border: 2px solid #0147fa;
  box-sizing: border-box;
  border-radius: 8px;
  background: #ffffff;
  width: 110px;
  color: #0147fa;
  height: 50px;
}

.botoesDiv {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-self: center;
}

.deleteButton {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border: 2px solid #0147fa;
  box-sizing: border-box;
  border-radius: 8px;
  background: #ffffff;
  width: 110px;
  color: #0147fa;
  height: 50px;
  margin-left: 15px;
}

.botaoEditar {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border: 2px solid #0147fa;
  box-sizing: border-box;
  border-radius: 8px;
  background: #ffffff;
  width: 110px;
  color: #0147fa;
  height: 50px;
  margin-left: 15px;
}
