<div class="ListaDeReceitasContainer">
    <div class="ListaDeReceitasHeader">
        <h1>Receitinhas da vovó! 🥰</h1>
        <button (click)="goBack()">Voltar</button>
    </div>
<div *ngIf="receita" class="cadastroDiv"> 
    <h2>Edite a receita #{{receita.id}}:</h2>
    <label>Título:</label>
    <input id="receita-titulo" [(ngModel)]="receita.titulo" type="text" placeholder="Título">
    <label>Descrição:</label>
    <input [(ngModel)]="receita.descricao" type="text" placeholder="Descrição">
    <label>Url da imagem:</label>
    <input [(ngModel)]="receita.img" type="text" placeholder="Url da imagem">
    <button (click)="onSalvar()" class="cadastroButton">Editar</button>
</div>
