.ListaDeReceitasContainer {
  background-color: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.04),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0238443),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0161557);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 95vw;
  height: 92vh;
}
.ListaDeReceitasHeader {
  width: 93%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*border-bottom: 2px solid #cacbcc;*/
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 1%;
  align-self: center;
  justify-self: center;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  align-self: center;
  justify-self: center;
  margin-top: 3%;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1%;
  border: 2px solid #0147fa;
  box-sizing: border-box;
  border-radius: 8px;
  background: #ffffff;
  width: 170px;
  color: #0147fa;
}
button:hover {
  background: #0147fa;
  color: #ffffff;
}

.cadastroDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 93%;
  border-top: 2px solid #cacbcc;
  margin-top: 1%;
}

input {
  border: 1.7px solid #b2b3bf;
  box-sizing: border-box;
  border-radius: 3.99px;
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 0.3%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8rem;
  padding-left: 5px;
}

.cadastroButton {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 2.5%;
  border: 2px solid #0147fa;
  box-sizing: border-box;
  border-radius: 8px;
  background: #ffffff;
  width: 200px;
  height: 40px;
  color: #0147fa;
  align-self: center;
}

.cadastroButton:hover {
  background: #0147fa;
  color: #ffffff;
}

label {
  margin-top: 2%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.6rem;
}
