<style>
  .TelaPrincipal{
    background-color: #ebebeb;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-top: 25px;
  }
</style>

<div class="TelaPrincipal">
  <router-outlet></router-outlet>
</div>

