<div class="ListaDeReceitasContainer">
    <div class="ListaDeReceitasHeader">
        <h1>Receitinhas da vovó! 🥰</h1>
        <button (click)="goBack()">Voltar</button>
    </div>
<div class="cadastroDiv">
    <h2>Cadastre a receita:</h2>
    <input #titulo type="text" placeholder="Título">
    <input #descricao type="text" placeholder="Descrição">
    <input #imagem type="text" placeholder="Url da imagem">
    <button (click)="onClick(titulo, descricao, imagem)" class="cadastroButton">Cadastrar</button>
</div>

