/* You can add global styles to this file, and also import other style files */
@import "~ngx-toastr/toastr";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}

@media (max-width: 768px) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 426px) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 376px) {
  html {
    font-size: 57%;
  }
}
@media (max-width: 321px) {
  html {
    font-size: 55%;
  }
}
